---
layout: default
---

<div class="home">
    {% if site.theme_settings.header_text %}
    <div class="call-out"
    style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
      {{ site.theme_settings.header_text }}
    </div>
    {% endif %}
  
    {% if site.posts.size == 0 %}
      <h2 style="text-align: center">No posts found =(</h2>
    {% else %}
      <div class="posts">
        {% for post in paginator.posts %}
        <div class="post-teaser {{post.code}}">
          <a href="{{ post.url | relative_url }}">
            {% include svg_icons.html %}
          </a>
            <div class="excerpt meta">
              <!-- <header> -->
                <h4>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title }}
                  </a>
                </h4>
                <p class="meta">
                  {{ post.date | date_to_string }} <!-- alternative: date: "%B %-d, %Y" -->
                </p>              
              <!-- </header> -->
              {{ post.subtitle }}
              <a class="button" href="{{ post.url | relative_url }}">
                {{ site.theme_settings.str_continue_reading }}
              </a>
            </div>
            {% if post.tags %}
              <ul class="tag">
                {% for tag in post.tags %}
                <a class="button-tag" href="{{ '/tags' }}">
                  {{ tag }}
                </a>
                {% endfor %}
             </ul>
            {% endif %}
          </a>
        </div>
        {% endfor %}
      </div>
    {% endif %}
</div>