.site-header {
  padding: 2rem;
  background-color: $brand-color;
  background-image: url(/assets/img/trianglify_blue.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  // box-shadow: 0 6px 6px -6px rgba($border-color, .9);
  
  .site-nav {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (max-width: $bp-large) {
      justify-content: space-between;
      
    }

    @media only screen and (max-width: $bp-medium) {
      flex-wrap: nowrap;
    }

    @media only screen and (max-width: $bp-smallest) {
      flex-direction: column;

      :nth-child(1) {
        margin-bottom: 1rem;
      }

      :nth-child(2) {
        margin-bottom: 1rem;
      }
    }

    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;

      @media only screen and (max-width: $bp-large) {
        flex-direction: column;
        align-items: flex-start;
        
        
      }

      @media only screen and (max-width: $bp-smallest) {
        flex-direction: row;
        align-items: baseline;
        
      }
    }
    li:not(:last-child) {
      margin-right: 2rem;

      @media only screen and (max-width: $bp-largest) {
        margin-right: 1rem;
      }

      @media only screen and (max-width: $bp-large) {
        margin-bottom: 1rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        margin-right: 3rem;
        margin-top: 2rem;
      }
    }
  }

  .page-link {
    color: $header-link-color;
    font-size: 2rem;
    font-family: $font-family-title;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.75rem;
    }
  }

  .avatar {
    border: .3rem solid $link-color;
    // position: absolute;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    // top: 2.5rem;
    // left: 3rem; 
    box-shadow: 0 0 1rem rgba($border-color, .7);
    // z-index: 2;
    flex-grow: 1;
    margin-right: 5rem;

    @media only screen and (max-width: $bp-small) {
      flex-grow: 0;
      height: 9rem;
      width: 9rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin-right: 0;
      order: 2;
    }
  }

  .site-title {
    font-family: $font-family-title;
    text-transform: uppercase;
    flex-grow: 2;
    margin: 0; // reset from .mt-mb

    @media only screen and (max-width: $bp-large) {
      flex-grow: 0;
    }

    @media only screen and (max-width: $bp-small) {
      text-align: center;
      font-size: 3rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 2.25rem;
    }
  }

    /* --- Search form --- */
    form {
        border: 0;
        border-bottom: 2px solid $search-color;
        outline: 0;

        *:focus {
            outline: none;
        }

        input{
            &[type=text] {
                box-sizing: border-box;
                border: 0;
                outline: 0;
                color: $search-color;
            }

            &::-moz-placeholder {
                color: $search-color;
                opacity: 1;
            }

            &:-ms-input-placeholder, &::-webkit-input-placeholder {
                color: $search-color;
            }
        }

        button {
           border: none;
           font-size: 0.9rem;
           background-color: $brand-color;
           color: $search-color;
        }
    }
}
