.site-header {
  @extend %padding-regular;
  background-color: #D7F2FE;
  background-image: url(/assets/img/tools-background.png);
  background-size: contain;
  background-position: left;
  background-repeat: repeat;
  border-bottom: 1px solid $border-color;
  width: 100%;
  position: relative;

  a {
    color: $header-link-color;
  }

  .avatar {
    border: .3em solid #F0F3F4;
    position: absolute;
    height: 8em;
    width: 8em;
    border-radius: 50%;
    top: 3em;
    left: 3em; 
    box-shadow: 0 1rem 3rem rgba($text-color, .7);
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5;
  }

  .site-title:hover {
    text-decoration: underline;
    // font-style: oblique;
  }

  .site-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
    }
    li {
      display: inline;
      float: left;
      margin-right: 0.4em;
    }

    li:hover{
      font-weight: bold ;
    }

    @media (max-width: 1100px) {
      ul {
        display: inline-block;
        float: left;
        padding-top: $padding-small;
        text-align: left;
        width: 100%;
      }
    }
  }

    /* --- Search form --- */
    form {
        border: 0;
        border-bottom: 2px solid $search-color;
        outline: 0;

        *:focus {
            outline: none;
        }

        input{
            &[type=text] {
                box-sizing: border-box;
                border: 0;
                outline: 0;
                color: $search-color;
            }

            &::-moz-placeholder {
                color: $search-color;
                opacity: 1;
            }

            &:-ms-input-placeholder, &::-webkit-input-placeholder {
                color: $search-color;
            }
        }

        button {
           border: none;
           font-size: 0.9em;
           background-color: $brand-color;
           color: $search-color;
        }
    }
}
