// Header text feature
.call-out {
  font-family: 'Josefin Sans', sans-serif;
  padding: 6rem 0;
  width: 100%;
  background-color: $brand-color;
  background-size: cover;
  font-size: 3rem;
  text-align: center;
  color: $header-desc-text-color;
  // overflow-y: scroll;
}

.call-out p {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: inherit;
}

.call-out p:last-child {
  margin-bottom: 0;
}
.call-out a {
  color: $header-desc-link-color;
}
// Post listing
.posts {
  .post-teaser {
    padding: 1rem;
    width: 100%;
    margin-bottom: 0;
    border-radius: 5px;
    background-size: $feature-image-size;
    border: 1px solid $link-color;
    @include box-shadow-card;
    transition: all 0.2s;
    position: relative;

    &:hover {
      transform: translate(-3px, -3px);
      @include box-shadow-card;
    }

    p a {
      @extend .body-link;
    }
  }

  .code {
    @extend .post-teaser;
  }

  .excerpt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.3rem;
    margin-bottom: 0;
    height: 87%;
  }

  // SVG ICONS IN CARD
  .svg {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  $colors: (
    html: #e34f26,
    css: #1572b6,
    js: #f7df1e,
    bs: #563d7c,
    sass: #cc6699,
    node: #47a248,
    jq: #0769ad,
    mongodb: #339933,
    python: #3776ab,
    git: #f05032,
    django: #092e20
  );

  @each $class, $color in $colors {
    .#{$class} {
      background-color: #fff;
      fill: $color;
    }
  }

  $codes: (
    html: #e34f26,
    css: #1572b6,
    java: #f7df1e,
    bs: #563d7c,
    sass: #cc6699,
    n: #47a248,
    jq: #0769ad,
    mongodb: #339933,
    py: #3776ab,
    git: #f05032,
    django: #092e20
  );

  @each $class, $color in $codes {
    .#{$class} {
      @extend .post-teaser;
      border: 1px solid $color;
    }
  }

  // @each $class, $color in $colors {
  //   .#{$class} {
        // @extend .post-teaser;
        // border: 1px solid $color;
  //   }

  .tag {
    margin: 0;
  }
}

// Pagination
.pagination .button {
  margin: 0 1.5rem;
  i {
    vertical-align: middle;
  }
}

.pagination {
  text-align: center;
}
