.tag-title {
  color: $tags-color;
  margin-bottom: 0;

  @media only screen and (max-width: $bp-small) {
    font-size: 2.5rem;
  }
}

.tagged-post {
  .title {
    margin-top: 1rem;
    margin-bottom: 0;
  
  }
}

.title {
  color: $background-color;

  @media only screen and (max-width: $bp-small) {
    font-size: 2.5rem;
  }
}
