* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: $background-color;
  font-size: 62.5%; // 1rem = 10px;

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%; // 9px
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; // 8px
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 43.75%;
  }
}

figure {
  margin: 0;
}
// For correct line number width in Github Gists
.gist table tbody tr td {
  box-sizing: content-box;
}

// Typography
::selection {
  background: $selection-color;
  color: #fff;
}
::-moz-selection {
  background: $selection-color;
}
body {
  color: $text-color;
  font-family: $font-family-main;
  font-size: $font-size;
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  line-height: 1.3;
  a {
    color: $text-color;
  }
}
h1 {
  font-size: 4.5rem;
  @include mt-mb;
}
h2 {
  font-size: 4rem;
  @include mt-mb;
}
h3 {
  font-size: 3.5rem;
  @include mt-mb;
}
h4 {
  font-size: 2rem;
}

p {
  font-size: 2.15rem;
}

blockquote {
    border-left: 2px solid;
    padding: 1rem 1rem;
}

blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}

table {
  table-layout:fixed;
  width:100%;
  word-wrap:break-word;
  @media (max-width: 1100px) {
    overflow-x: scroll;
    display: inline-block;
  }
}
td,
th {
  padding: 0.5rem 1rem;
  border: 1px solid $border-color;
  text-align: left;
}
table,
dl,
code,
kbd,
pre,
samp {
  margin: 1rem 0;
  line-height: 2;
  font-family: 'Monaco','Consolas','Menlo',monospace;
  word-break: break-all;
}

blockquote {
  margin: 1rem 0;
  line-height: 2;
  font-family: 'Monaco','Consolas','Menlo',monospace;
}

dt {
  font-weight: bold;
}
dd {
    margin-left: 2rem;
}
p, ol, ul, dl, .math-display {
  line-height: 1.5;
  margin-bottom: 1rem;
}
// KaTeX math display
.math-display {
  display: inline-block;
  width: 100%;
}
// Lists within lists
li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1rem;
}
ol, ul {
  list-style-position: inside;
}
hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1rem 0;
}
a {
  color: $link-color;
  text-decoration: none;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Responsive media
iframe, img, embed, object, video {
  max-width: 100%;
}
img[align=left] {
  margin-right: 3%;
}
img[align=right] {
  margin-left: 3%;
}