// Buttons
.button {
  border-radius: 5px;
  border: 1px solid;
  display: block;
  margin: 1rem 0;
  padding: 1.25rem 2.25rem;
  transition: all .1s;
}

.button-tag {
  @extend .button;
  display: inline-block;
  padding: .3rem .5rem;
}

a.button-tag {
  @extend .button-link;
}

a.button {
  @extend .button-link;
}
.button-link {
  &:hover {
    background: $link-color;
    border: 1px solid $link-color;
    color: $background-color;
    text-decoration: none;
  }
}
.body-link {
  &:hover {
    text-decoration: underline;
    color: darken($link-color, 15%);
  }
}
// States
.disabled {
  opacity: 0.7;
}
