// Buttons
.button {
  border-radius: 5px;
  border: 1px solid;
  display: block;
  margin: 1rem 0;
  padding: 1.25rem 2.25rem;
  transition: all .2s;
}

.tag {
  display: flex;
  justify-content: flex-start;
  

  .button-tag {
    @extend .button;
    display: inline-block;
    padding: .3rem .5rem;
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}
  
$codes: (
    h: #e34f26, // html
    c: #1572b6, // css
    j: #f7df1e, // js
    n: #47a248, // node
    p: #3776ab, // python
  );

@each $class, $code in $codes {
  .#{$class} {
    .button-link {
      border: 1px solid $code;
      color: $code;
      &:hover {
        background: $code;
        border: 1px solid $code;
        color: $background-color;
        text-decoration: none;
      }
    }
  }
}

a.button-tag {
  @extend .button-link;
}

a.button {
  @extend .button-link;
}

.body-link {
  &:hover {
    text-decoration: underline;
    color: darken($link-color, 15%);
  }
}
// States
.disabled {
  opacity: 0.7;
}
