// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #a1ffce;
$brand-color: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
$brand-color: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$background-color: #F4FDFF;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #1ABC9C;
$selection-color: #D4D4D4; // visible when highlighting text

// Tags color
$tags-color: #b0b0b0;

//Search color
$search-color: #999;

// Header colours
$header-link-color: #383838;

// Feature image for article
$feature-image-text-color: #fff;
$feature-image-size: auto; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #1ABC9C;
$header-desc-text-color: #FFF;
$header-desc-link-color: #02453D;
